<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.software.seller.mapper.SysRolePermissionMapper">
    <resultMap id="baseResultMap" type="com.software.seller.model.SysRolePermission">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="sys_permission_id" property="sysPermissionId" jdbcType="BIGINT"/>
        <result column="sys_role_id" property="sysRoleId" jdbcType="BIGINT"/>
        <result column="rank" property="rank" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="create_by" property="createBy" jdbcType="BIGINT"/>
        <result column="update_by" property="updateBy" jdbcType="BIGINT"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
    </resultMap>
    <!--  -->
    <sql id="sql_column">
        id,
        sysPermissionId,
        sysRoleId,
        rank,
        createTime,
        updateTime,
        createBy,
        updateBy,
        status
    </sql>

    <sql id="sql_column_where">
        <if test="id !=null ">
            AND id = #{id}
        </if>
        <if test="sysPermissionId !=null ">
            AND sys_permission_id = #{sysPermissionId}
        </if>
        <if test="sysRoleId !=null ">
            AND sys_role_id = #{sysRoleId}
        </if>
        <if test="rank !=null ">
            AND rank = #{rank}
        </if>
        <if test="createTime !=null ">
            AND create_time = #{createTime}
        </if>
        <if test="updateTime !=null ">
            AND update_time = #{updateTime}
        </if>
        <if test="createBy !=null ">
            AND create_by = #{createBy}
        </if>
        <if test="updateBy !=null ">
            AND update_by = #{updateBy}
        </if>
        <if test="status !=null ">
            AND status = #{status}
        </if>
    </sql>

    <insert id="insert" parameterType="SysRolePermission" useGeneratedKeys="true" keyProperty="id">
        insert into sys_role_permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sysPermissionId !=null">
                sys_permission_id,
            </if>
            <if test="sysRoleId !=null">
                sys_role_id,
            </if>
            <if test="rank !=null">
                rank,
            </if>
            <if test="createTime !=null">
                create_time,
            </if>
            <if test="updateTime !=null">
                update_time,
            </if>
            <if test="createBy !=null">
                create_by,
            </if>
            <if test="updateBy !=null">
                update_by,
            </if>
            <if test="status !=null">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sysPermissionId !=null">
                #{sysPermissionId},
            </if>
            <if test="sysRoleId !=null">
                #{sysRoleId},
            </if>
            <if test="rank !=null">
                #{rank},
            </if>
            <if test="createTime !=null">
                #{createTime},
            </if>
            <if test="updateTime !=null">
                #{updateTime},
            </if>
            <if test="createBy !=null">
                #{createBy},
            </if>
            <if test="updateBy !=null">
                #{updateBy},
            </if>
            <if test="status !=null">
                #{status},
            </if>
        </trim>
    </insert>


    <update id="update" parameterType="SysRolePermission">
        update sys_role_permission
        <set>
            <if test="sysPermissionId !=null">
                sys_permission_id = #{sysPermissionId},
            </if>
            <if test="sysRoleId !=null">
                sys_role_id = #{sysRoleId},
            </if>
            <if test="rank !=null">
                rank = #{rank},
            </if>
            <if test="createTime !=null">
                create_time = #{createTime},
            </if>
            <if test="updateTime !=null">
                update_time = #{updateTime},
            </if>
            <if test="createBy !=null">
                create_by = #{createBy},
            </if>
            <if test="updateBy !=null">
                update_by = #{updateBy},
            </if>
            <if test="status !=null">
                status = #{status},
            </if>
        </set>
        where id =#{id} and status=1
    </update>
    <update id="deleteByRoleId">
        UPDATE sys_role_permission
        SET status = 2
        WHERE sys_role_id = #{roleId}
    </update>
    <update id="deleteByRolePermissionId">
        UPDATE sys_role_permission
        SET status = 2
        WHERE sys_role_id = #{roleId} AND sys_permission_id = #{permissionId}
    </update>

    <update id="recoveryRolePermission">
        UPDATE sys_role_permission
        SET status = 1, update_by=#{updateBy} , update_time=#{updateTime}
        WHERE status = 2 AND sys_role_id = #{roleId} AND sys_permission_id = #{permissionId}
    </update>

    <select id="select" parameterType="SysRolePermission" resultMap="baseResultMap">
        select * from sys_role_permission where
        <where>
            <include refid="sql_column_where"/>
        </where>
    </select>

    <select id="selectById" parameterType="long" resultMap="baseResultMap">
        SELECT *
        FROM sys_role_permission
        WHERE id = #{id} AND status = 1
    </select>

    <select id="selectRoleByPermissions" resultMap="baseResultMap">
        SELECT sys_role_id
        FROM sys_role_permission
        WHERE status = 1
        <if test="permissionId !=null ">
            AND sys_permission_id IN
            <foreach collection="permissionId" item="pId"
                     index="index" open="(" close=")" separator=",">
                #{pId}
            </foreach>
        </if>

    </select>

    <select id="selectAll" resultMap="baseResultMap">
        SELECT *
        FROM sys_role_permission
        WHERE status = 1
    </select>

    <select id="selectCounts" resultType="integer">
        SELECT count(*)
        FROM sys_role_permission
        WHERE status = 1
    </select>
    <select id="selectByRoleId" resultMap="baseResultMap">
        SELECT *
        FROM sys_role_permission
        WHERE status = 1 AND sys_role_id = #{roleId}
    </select>
    <select id="selectPermissionByUserId" parameterType="java.lang.Long" resultType="java.lang.Long">
        SELECT a.sys_permission_id
                FROM sys_role_permission a LEFT JOIN sys_role_organization b ON a.sys_role_id=b.sys_role_id
                WHERE a.status = 1 AND b.status = 1 AND b.sys_organization_id in (
                      select sys_role_organization_id
                      from sys_user_role_organization
                      WHERE status = 1 AND sys_user_id = #{userId}
                      )
                GROUP BY a.sys_permission_id
    </select>
    <delete id="shrink">
        DELETE
        FROM sys_role_permission
        WHERE
        status = 2
    </delete>
</mapper>
